.body-select-container {
  padding: 10px
}

.header {
  width: 100%;
  position: fixed;
  border-bottom: 5px solid #54688f;
  z-index: 2;
}

.body-container {
  background-color: #54688f;
  min-height: 100vh;
  padding: 5px;
  padding-top: 55px
}

.body-container div div div {
  margin-bottom: 5px;
  padding-top: 10px;
  border-radius: 0 20px 0 20px
}

.body-container div {
  margin-bottom: 5px;
  border-radius: 0 20px 0 20px
}

.select-select-container {
  display: flex;
  flex-direction: row;
  font-size: 16px;
}

.inp {
	position: relative;
	margin: auto;
	width: 100%;
}

.inp .label {
	position: absolute;
  top: 10px;
	left: 0;
	font-size: 20px;
	color: #9098a9;
	font-weight: 500;
	transform-origin: 0 0;
	transition: all 0.2s ease;
}

.inp .border {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 100%;
	background: #07f;
	transform: scaleX(0);
	transform-origin: 0 0;
	transition: all 0.15s ease;
}

.styled-input {
	-webkit-appearance: none;
	width: 100%;
	border: 0;
	font-family: inherit;
	padding: 12px 0;
	height: 48px;
	font-size: 18px;
	font-weight: 500;
  border-bottom: 2px solid #c8ccd4;
  border-right: 2px solid #c8ccd4;
	background: none;
	border-radius: 0;
	color: #223254;
	transition: all 0.15s ease;
}

.inp .styled-textarea {
	-webkit-appearance: none;
	width: 100%;
	border: 0;
	font-family: inherit;
	padding: 12px 0;
	height: 100px;
	font-size: 24px;
	font-weight: 500;
  border-bottom: 2px solid #c8ccd4;
  border-right: 2px solid #c8ccd4;
	background: none;
	border-radius: 0;
	color: #223254;
	transition: all 0.15s ease;
}

.inp .styled-input:hover {
	background: rgba(34,50,84,0.03);
}

.inp .styled-input:not(:placeholder-shown) + span {
	color: #5a667f;
	transform: translateY(-26px) scale(0.75);
}

.inp .styled-input:focus {
	background: none;
	outline: none;
}

.inp .styled-input:focus + span {
	color: #07f;
	transform: translateY(-26px) scale(0.75);
}

.inp .styled-input:focus + span + .border {
	transform: scaleX(1);
}

.select-title {
  margin-top: 10px;
  position: relative;
  padding-right: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Customize the label (the select-container) */
.select-container {
  margin-right: 10px;
  margin-top: 10px;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.select-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.select-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.select-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.select-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.select-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.select-div {
  flex: 1;
  justify-content: space-between
}

.submit-button {
  padding: 0px 30px;
}