@import url('https://fonts.googleapis.com/css?family=Rancho|Satisfy');

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 40vmin;
}

.App-body {
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Rancho', cursive, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.App-link {
  color: #61dafb;
}

.footer-button {
  bottom: 0;
  position: absolute;
  width: 80%;
}

.button-container {
  display: flex;
  justify-content: space-around
}

@keyframes App-logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
