.App {
  text-align: center;
  background-color: #54688f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

main {
  height: 100vh;
  width: 100%;
  background-color: #54688f;
  padding-top: 50px;
}