
.icon-edit:before { content: '\e800'; } /* '' */
.icon-download:before { content: '\e801'; } /* '' */
.icon-list:before { content: '\e802'; } /* '' */
.icon-download-1:before { content: '\e803'; } /* '' */