
.icon-edit:before { content: '\e800'; } /* '' */
.icon-headphones:before { content: '\e801'; } /* '' */
.icon-download:before { content: '\e802'; } /* '' */
.icon-download-1:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e804'; } /* '' */
.icon-key:before { content: '\e805'; } /* '' */